nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 2rem;

    #form {
        width: fit-content;
        height: 80px;
        display: flex;
        align-items: center;

        input {
            max-width: 350px;
            height: 40px;
            font-size: 21px;
            padding: 0.5rem;
            border-radius: 8px 0 0 8px;
            border: 2px solid rgb(41, 41, 41);
            background-color: rgb(68, 68, 68);
        }

        #dInput {
            width: 90px;
            border-radius: 0px;
            border-top: 2px solid rgb(41, 41, 41);
            border-bottom: 2px solid rgb(41, 41, 41);
        }

        input:focus {
            outline: none;
        }

        button {
            border-left: 2px solid rgb(41, 41, 41);
            width: 40px;
            height: 40px;
            font-size: 18px;
            background-image: url(../images/search.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-weight: 600;
            padding: 3px;
            border-radius: 0 8px 8px 0;
        }
    }

    div {
        max-width: 200px;
        width: 100%;
        display: flex;
        align-items: center;

        button {
            width: fit-content;
            height: fit-content;
            font-size: 20px;
            margin-left: 1rem;
            padding: 5px 10px 2px 10px;
            border-radius: 5px;
        }
    }
}
