* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background: rgb(255, 240, 205);
  background: linear-gradient(0deg, rgba(255, 240, 205, 1) 0%, rgba(74, 95, 150, 1) 57%, rgba(21, 33, 93, 1) 100%);
  background-size: cover;
}

button {
  border: 2px solid rgb(41, 41, 41);
  background-color: rgb(68, 68, 68);
}

button:active {
  background-color: rgb(128, 128, 128);
}
