#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: whitesmoke;
        font-weight: 500;
        margin: 1rem;
        font-size: 48px;

        div {
            display: inline-block;
            height: 36px;
            width: 36px;
            margin-bottom: -5px;
            margin-right: 5px;
            background-image: url(../images/location.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .weather-details {
        max-width: 600px;
        width: 100%;
        max-height: 500px;
        border: 2px solid rgb(41, 41, 41);
        border-radius: 8px;
        background-color: rgb(68, 68, 68);
        padding: 1rem;
        margin: 1rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        img {
            display: block;
            height: 64px;
            width: 64px;
            margin: 0 auto;
            margin-top: 1rem;
        }

        #weather-current {
            width: 300px;
            #details-description {
                margin: 0 auto;
                margin-top: 0.5rem;
                position: relative;
                width: fit-content;
                text-align: center;
                font-size: 30px;
                margin-bottom: 1rem;
            }
        }

        p {
            font-size: 22px;
        }

        #forecast {
            overflow: scroll;
            width: 300px;
            padding: 1rem;
            max-height: 100%;
            border: 2px solid rgb(41, 41, 41);
            border-radius: 8px;

            .forecast-day:nth-child(even) {
                background-color: rgb(99, 99, 99);
            }

            .forecast-day {
                padding: 10px;

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .switch-container {
        height: 20px;
        .switch-label {
            display: inline-block;
            position: relative;
            font-size: 20px;
        }

        .switch {
            display: inline-block;
            position: relative;
            top: 2px;
            width: 38px;
            height: 22px;
            background-color: rgb(165, 165, 165);
            border-radius: 15px;
            margin-bottom: -5px;
            margin-left: 4px;
            border: 1px rgb(236, 236, 236) solid;

            input {
                position: relative;
                left: -5px;
                opacity: 0;
                width: 110%;
                height: 100%;
                z-index: 99;
            }

            span {
                display: inline-block;
                position: absolute;
                height: 18px;
                width: 18px;
                border-radius: 9px;
                background-color: rgb(255, 255, 255);
                top: 1px;
                left: 1px;
            }
        }

        .switch-on {
            position: relative;
            background-color: rgb(83, 202, 83) !important;
            span {
                left: auto;
                right: 1px !important;
            }
        }
    }
}
